:root {
  --white: white;
  --background-color: #EEEEEE;
  --primary-text: black;
  --secondary-text: #777;
  --primary-blue: #020F59;
  --secondary-blue: #082B59;
  --primary-gold: #F2CB05;
  --secondary-gold: #F2B705;
  font-family: 'Work Sans', sans-serif;
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Logo {
  position: absolute;
  transform: translate(20px, 20px);
  margin: 0;
  padding: 0;
}

.Logo a img {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

figcaption {
  display: none;
}

.Header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--primary-blue);
}

h1 {
  margin-left: 140px;
  color: var(--primary-gold);
  font-family: 'Libre Baskerville', serif;
}

h2, h3, nav ul li a {
  font-family: 'Courier Prime', monospace;
}

h2 {
  font-size: 2em;
}

h3, nav ul li a {
  font-size: 1.2em;
}

h3 {
  margin-bottom: 10px;
}

.Navigation {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--secondary-blue);
  color: var(--secondary-gold);
  width: 100%;
  height: 71px;
  border-top: #F2CB05 1px solid;
}

.Navigation ul {
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.Navigation ul li a {
  color: var(--secondary-gold);
  margin-right: 24px;
  text-decoration: none;
}

.Navigation ul li a:hover {
  text-decoration: underline;
}

.MainBody {
  display: flex;
  justify-content: center;
  margin: 40px 10% 70px;
}

.LowerMain {
  display: flex;
  flex-direction: row;
}

.LowerMain > * {
  flex: 1 1 0;
}

.AsideSection {
  display: flex;
  flex-direction: column;
}

.WelcomeSection, .NewsSection, .TicketSection, .MerchSection, .MembershipSection {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 10px;
  margin: 0 20px 20px 0;
  display: flex;
}

.TextContainer {
  padding: 20px;
  flex-grow: 1;
}

.WelcomeText {
  width: 30%;
  padding: 20px;
  flex-grow: 1;
}

.WelcomeSection iframe {
  flex-grow: 1;
  aspect-ratio: 16/9;
  width: 70%;
  height: auto;
  border-radius: 0px 10px 10px 0;
}

.ScheduleTable {
  border: var(--primary-text) 1px solid;
  color: var(--secondary-gold);
  height: calc(100% - 20px);
  border-collapse: collapse;
  width: 100%;
}

.ScheduleTable th {
  background-color: var(--white);
  color: var(--primary-text);
  height: 60px;
}

.ScheduleTable td {
  border: var(--primary-text) 1px solid;
  text-align: center;
}

.ScheduleTable tr {
  background-color: var(--primary-blue);
}

.ScheduleTable a {
  color: var(--primary-gold);
  text-decoration: none;
}

.ScheduleTable tr:nth-child(even) {
  background-color: var(--secondary-blue);
}

.MerchGrid {
  width: calc(100% - 20px);
  display: grid;
  height: 100%;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  list-style-type: none;
  column-gap: 20px;
}

.MerchGrid li {
  height: min-content;
  margin-bottom: 10px;
}

.MerchGrid li figure img {
  display: block;
  object-fit: cover;
  aspect-ratio: 4/3;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.MembershipSection {
  margin: 0 0 20px 0;
  background-color: var(--primary-blue);
  color: var(--secondary-gold);
  height: 400px;
}

.SignUp {
  width: 70%;
}

.SignUp > *, .SignUp > * > * {
  margin-bottom: 10px;
}

.SignUp h3 {
  color: var(--primary-gold);
}

.SignUp ul {
  list-style-type: none;
}

label, input {
  display: block;
}

input {
  width: 100%;
  height: 32px;
}

button {
  width: 100%;
  background-color: var(--primary-gold);
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 24px;
}

button:hover {
  background-color: var(--secondary-gold);
}

input:focus {
  outline: none;
}

.LiveSports iframe {
  background-color: var(--secondary-text);
  height: 400px;
  overflow-y: hidden;
  border: none;
  border-radius: 10px;
}

.Footer {
  margin-top: auto;
  color: var(--secondary-text);
  width: 100%;
  height: 70px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer ul {
  list-style-type: none;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Footer ul > * {
  margin-right: 20px;
}

.Footer ul li a {
  text-decoration: none;
  color: inherit;
}

.Footer ul li a:hover {
  text-decoration: underline;
}

.Last {
  margin: 0;
}

@media only screen and (max-width: 1500px) {
  .LowerMain {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1250px) {
  .MainBody {
    flex-direction: column;
  }
  .AsideSection {
    flex-direction: row;
  }
  .WelcomeSection, .NewsSection, .TicketSection, .MerchSection, .MembershipSection {
    margin: 0 0 20px 0;
  }

  .MembershipSection {
    width: 70%;
    margin-right: 20px;
  }
}